<ion-view view-title="PokeQuiz" id="pokemons">
	<ion-content class="fondo">
		<div class="card-agreg">
			<div class="info">
				<h1>{{'ini_bienv' | translate}}</h1>
				<p align="justify">{{'ini_text' | translate}}</p>
			</div>
		</div>
		<div class="col col-100 est-boton">
            <input type="button" class="boton-inicio" ng-click="quiz()"> 
        </div>
		<div class="imagen_inic"></div>
	</ion-content>
</ion-view>