<ion-side-menus>
	<!--Este es el menu-->
	<ion-side-menu side="left">
		<ion-header-bar class="bar-red">
			<h4 class="title">{{'menu' | translate}}</h4>
		</ion-header-bar>
		<ion-content>

			<ion-list>
				<ion-item ui-sref="app.inicio" menu-close>{{'inicio' | translate}}</ion-item>
				<ion-item ui-sref="app.pokemons" menu-close>{{'Quiz' | translate}}</ion-item>
				<ion-item ng-click="abrir();" menu-close>{{'otras_app' | translate}}</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

	<!--Este es el contenido-->
	<ion-side-menu-content>
		<ion-nav-bar class="bar-red">
			<ion-nav-back-button >
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="content">
		</ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>