/* Empty. Add your own CSS if you like */
 
.has-errors {
  	border-bottom: 3px solid #f92404 !important;
}
.oculto{
	display: none;
}

.mostrar{
	display: block;
}
 
.error {
    padding: 20px 0px 0px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
    color: #757575;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.fondo{
	background-color: #c9c7c7;
}

.info{
	padding: 5%;
}

.checkbox input {
	margin-right: 3%;
	float: left;
    width: 20px;
    height: 20px;
}

.checkbox-icon:after {
	width: 10px !important;
    height: 5px !important;
}

.card-agreg{
    background: url("../img/cuadro.png") no-repeat;
    background-size: 100%;
    padding-bottom: 35%;
    margin: 0 3%;
}

.imagen_inic{
    background: url("../img/inicio.png") no-repeat;
    background-size: 100%;
    padding-bottom: 108%;
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: -30%;
}

.button-icon{
	color:#FFF;
}

.button-icon:hover{
	color:#FFF;
}

.boton{
	background: url("../img/circlee.png") no-repeat;
    background-size: 100%;
    padding-bottom: 11%;
    width: 50%;
    border:0px;
}

.boton:hover{
	background: url("../img/circle.png") no-repeat;
    background-size: 100%;
    padding-bottom: 20%;
    width: 51%;
    border:1px;
}

.boton-inicio{
	background: url("../img/go.png") no-repeat;
    background-size: 100%;
    padding-bottom: 30%;
    width: 35%;
    border:0px;
}

.boton-share{
	position: absolute;
    background: url("../img/ane-share-icon.png") no-repeat;
    background-size: 100%;
    padding-bottom: 13%;
    width: 12%;
    border: 0px;
    margin: 15% 87%;
}

.boton-share:hover{
	position: absolute;
    background: url("../img/ane-share-icon2.png") no-repeat;
    background-size: 100%;
    padding-bottom: 13%;
    width: 12.5%;
    border: 0px;
    margin: 15% 87%;
}

.titulo{
	text-align: center;
	color: #FFF;
	font-family: 'AmpleSoft';
	font-size: 14pt;
	background-color:#ff6600; 
	padding-bottom: 4%;
	padding-top: 4%;
	font-weight: 300;
}

.bar-red{
	background-color:#f29f00;
	color:#FFF;
}

.row-comp{
	margin-top: -12px !important;
	margin-left:27%;
}

#pokemons p{
	font-size: 10pt;
	line-height: 15px;
	font-family: 'Roboto';
}

.item .item-input{
    background-color: #03a9f4;
    padding: 0px 0px;
}

.est-boton{
    text-align: center;
    position: absolute;
    padding-top: 40%;
}

input[disabled]{
    background-color: transparent;
}

input[type="text"],
input[type="number"]{
    color: #000;
    display: inline-block;
    width: 63%;
    background-color: white;
    padding: 0px 0px 0px 10px;
    height: 35px;
}
.input-label{
	text-align: center;
    padding: 5px 10px 7px 0px;
    color:#FFF;
    display: inline-block;
}

h1{
	font-family: 'Roboto';
	color:#ca9815;
	font-size: 22pt;
}

h2{
	font-family: 'Roboto';
	color: #ff6600; /*#03a9f4;*/
	font-size: 12pt;
	margin: 0 0 10px 0 !important;
}

h3{
	font-family: 'Roboto';
	color: #444444; /*#03a9f4;*/
	font-style: normal;
	font-size: 12pt;
}

h4{
	color: #FFF;
	font-family:'Roboto';
	font-size: 20pt;
}

h5{
	color: #000;
	font-family:'Roboto';
	font-size: 7pt;
	margin-top: 2px;
    margin-bottom: 2px;
}

.margen{
	margin: 10px 15px !important;
}

.marg-label{
	margin-right: 2%;
}

/* ||||||types of pokemons|||||||*/

.types{
    text-align: center;
    font-family: 'Roboto';
    font-size: 8pt;
    width: 70%;
}

.border{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

.border2{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #03a9f4;
}

.type-steel{ 	 /*Acero*/
	color:#FFF !important;
	background-color: #6f6f6f;
}
.type-water{  	/*Agua*/
	color:#FFF !important;
	background-color: #0091ea;
}
.type-bug{		/*Bicho*/
	color:#FFF !important;
	background-color: #70a83b;
}
.type-dragon{	/*Dragón*/
	color:#FFF !important;
	background-color: #ff6d00;
}
.type-electric{	/*Eléctrico*/
	color:#FFF !important;
	background-color: #ffab00;
}
.type-ghost{	/*Fantasma*/
	color:#FFF !important;
	background-color: #651fff;
}
.type-fire{		/*Fuego*/
	color:#FFF !important;
	background-color: #dd2c00;
}
.type-ice{		/*Hielo*/
	color:#FFF !important;
	background-color: #00acc1;
}
.type-fighting{	/*Lucha*/
	color:#FFF !important;
	background-color: #9c1814;
}
.type-normal{	/*Normal*/
	color:#FFF !important;
	background-color: #a28356;
}
.type-grass{	/*Hierva*/
	color:#FFF !important;
	background-color: #4f7a2d;
}
.type-psychic{	/*Psíquico*/
	color:#FFF !important;
	background-color: #f73670; /*ff4081*/
}
.type-rock{		/*Roca*/
	color:#FFF !important;
	background-color: #464646;
}
.type-dark{		/*Oscuro*/
	color:#FFF !important;
	background-color: #311b92;
}
.type-ground{	/*Tierra*/
	color:#FFF !important;
	background-color: #6f5327;
}
.type-poison{	/*Veneno*/
	color:#FFF !important;
	font-size: 10px;
	background-color: #7e57c2;
}
.type-flying{	/*Volador*/
	color:#FFF !important;
	background-color: #7986cb;
}
.type-fairy{	/*Hadas*/
	color:#FFF !important;
	background-color: #e87890;
}



.type-acero{ 	 /*Acero*/
	color:#FFF !important;
	background-color: #6f6f6f;
}
.type-agua{  	/*Agua*/
	color:#FFF !important;
	background-color: #0091ea;
}
.type-bicho{		/*Bicho*/
	color:#FFF !important;
	background-color: #70a83b;
}
.type-dragon{	/*Dragón*/
	color:#FFF !important;
	background-color: #ff6d00;
}
.type-electrico{	/*Eléctrico*/
	color:#FFF !important;
	background-color: #ffab00;
}
.type-fantasma{	/*Fantasma*/
	color:#FFF !important;
	background-color: #651fff;
}
.type-fuego{		/*Fuego*/
	color:#FFF !important;
	background-color: #dd2c00;
}
.type-hielo{		/*Hielo*/
	color:#FFF !important;
	background-color: #00acc1;
}
.type-lucha{	/*Lucha*/
	color:#FFF !important;
	background-color: #9c1814;
}
.type-normal{	/*Normal*/
	color:#FFF !important;
	background-color: #a28356;
}
.type-hierba{	/*Hierba*/
	color:#FFF !important;
	background-color: #4f7a2d;
}
.type-psiquico{	/*Psíquico*/
	color:#FFF !important;
	background-color: #f73670; /*ff4081*/
}
.type-roca{		/*Roca*/
	color:#FFF !important;
	background-color: #464646;
}
.type-oscuro{	/*Oscuro*/
	color:#FFF !important;
	background-color: #311b92;
}
.type-tierra{	/*Tierra*/
	color:#FFF !important;
	background-color: #6f5327;
}
.type-veneno{	/*Veneno*/
	color:#FFF !important;
	font-size: 10px;
	background-color: #7e57c2;
}
.type-volador{	/*Volador*/
	color:#FFF !important;
	background-color: #7986cb;
}
.type-hada{		/*Hada*/
	color:#FFF !important;
	background-color: #e87890;
}

/*|||||||||||||||||||||||||||||||||||*/

#pokeDetails p{
	color: #fff;
	font-size: 9pt;
    line-height: 15px;
    text-align: justify;
}

.infoleft{
    position: absolute;
    background: url("../img/circulo.png") no-repeat;
    background-size: 100%;
    margin: 2% 28%;
    width: 44%;
    padding-bottom: 50%;
}

.infoRight{
	margin: 2% 2%;
    padding: 2% 2%;
    width: auto;
    height: calc(100% - 80%);
    background-color: #03a9f5;
}

.infoleft2{
	padding: 2% 1%;
    margin-left: 2%;
    float: left;
    width: calc(100% - 65%);
    height: 100%;
    max-height: 30%;
    background-color: #FFF;
    margin-bottom: 2%;
}

.col-left{
    float: left;
    width: 40%;
}
.col-left h5{
	font-size: 7pt;
	line-height: 1.3 !important;
}
.infoRight2 .col-right h5{
	font-size: 7pt;
	line-height: 1.3 !important;
}

.infoRight2 .col-barra h5{
	font-size: 7pt;
	line-height: 1.3 !important;
}
.col-barra{

    float: left;
    width: 63%;
}

.col-right{
    float: right;
    width: 55%;
}

.infoRight2 .col-left{
	width: 26%;
}

.infoRight2 .col-right{
	width: 11%;
}

.infoRight2{
	padding: 2% 1%;
    margin-right: 2%;
    float: right;
    width: calc(100% - 41%);
    height: 100%;
    max-height: 30%;
    background-color: #FFF;
    margin-bottom: 2%;
}

.estilo{
	font-size: 8pt;
	padding-bottom: 3%;
}

.bar-header i.icon {
	color: white !important;
}


.fondo-img{
    background: url("../img/Background.png") no-repeat;
    background-size: 100%;
    padding-bottom: 48%;
    width: 100%;
}

#evol img{
	position: absolute;
    margin: 15% 10%;
    background-size: 100%;
    width: 80%;
}

.progress-bar {
	width: 95%;
	height: 20%;
	margin-bottom: 2%;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(207,216,221,.4);
	border-color: #cfd8dd;  
}

.progress-bar-bar {
  	background-color:#03a9f4;
   	height: 10px;
    transition: all 3s line;
    transition-duration: 3s, 3s, 3s;
}

/* ----------- Nokia Lumia 520----------- */

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 533px) and (orientation: portrait){

	.col-left h5 { font-size: 7pt; }
	.estilo { font-size: 8pt; }
	h5{ font-size: 6pt; }
	.progress-bar { width: 90%; }

	h1{font-size: 22pt;}
	#pokemons p{font-size: 10pt; line-height: 100%}
}

/* Landscape */
@media screen and (device-width: 533px) and (device-height: 320px) and (orientation: landscape) {
	.infoleft2{ max-height: 50%; margin-bottom: 3%; }
	.infoRight2{ max-height: 50%; margin-bottom: 3%; }

	h1{font-size: 28pt;}
	#pokemons p{font-size: 15pt; line-height: 100%}
	.imagen_inic {margin-top: -25%;}
	.est-boton {padding-top: 46%;}
}

/* ----------- Nexus 4 ----------- */

/* Portrait */
@media screen and (device-width: 384px) and (device-height: 640px) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 640px) and (device-height: 384px) and (orientation: landscape) {
	.progress-bar { width: 95%; }
	.infoleft2{ max-height: 50%; margin-bottom: 3%; }
	.infoRight2{ max-height: 50%; margin-bottom: 3%; }

	h1{font-size: 34pt;}
	#pokemons p{font-size: 18pt; line-height: 100%}
	.imagen_inic {margin-top: -25%;}
	.est-boton {padding-top: 46%;}
}

/* ----------- Kindle Fire HDX ----------- */

/* Portrait */
@media screen and (device-width: 1600px) and (device-height: 2560px) and (orientation: portrait) {
	#pokeDetails p { font-size: 40pt; line-height: 60px; }
	.titulo { font-size: 60pt; }
	.col-left h5 { font-size: 30pt; }
	h5 { font-size: 28pt; }
	.infoRight2 .col-right h5 { font-size: 30pt; }
	.estilo { font-size: 33pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 40px;}
	.card-agreg {padding-bottom: 40%;}

	h1{font-size: 80pt; margin-bottom: 30px;}
	.imagen_inic {margin-top: -25%;}
	#pokemons p{font-size: 45pt; line-height: 100%}
	.est-boton {padding-top: 46%;}

}

/* Landscape */
@media screen and (device-width: 2560px) and (device-height: 1600px) and (orientation: landscape) {

	#pokeDetails p { font-size: 40pt; line-height: 60px; }
	.titulo { font-size: 60pt; }
	.col-left h5 { font-size: 30pt; }
	h5 { font-size: 28pt; }
	.infoRight2 .col-right h5 { font-size: 30pt; }
	.estilo { font-size: 33pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 40px;}

	.imagen_inic { margin-top: -15%; }
	.infoleft2{ max-height: 50%; margin-bottom: 3%; }
	.infoRight2{ max-height: 50%; margin-bottom: 3%}

	.card-agreg {padding-bottom: 40%;}
	h1{font-size: 145pt; margin-bottom: 30px;}
	.imagen_inic {margin-top: -30%;}
	#pokemons p{font-size: 85pt; line-height: 100%}
	.est-boton {padding-top: 40%;}

}

/* ----------- Nokia N9 ----------- */

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
	.progress-bar { width: 90%; }
	.infoleft2{ margin-bottom: 3%; }
	.infoRight2{ margin-bottom: 3%; }
}


/* ----------- Galaxy S5 ----------- */
/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	.progress-bar { width: 90%; }
	.infoleft2{ margin-bottom: 3%; }
	.infoRight2{ margin-bottom: 3%; }
}

/* Landscape */
@media screen and (device-width: 640px) and (device-height: 360px) and (orientation: landscape) {
	.infoleft2{ max-height: 50%; margin-bottom: 3%; }
	.infoRight2{ max-height: 50%; margin-bottom: 3%; }
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
	.col-left h5 { font-size: 7pt; }
	.estilo { font-size: 8pt; }
	h5{ font-size: 6pt; }
	.progress-bar { width: 90%; }
	.infoleft2{ max-height: 30%; margin-bottom: 3%; }
	.infoRight2{ max-height: 30%; margin-bottom: 3%; }
	#pokemons p{font-size: 10pt; line-height: 100%}
	h1{font-size: 20pt;}
}
/* Landscape */
@media screen and (device-width: 480px) and (device-height: 320px) and (orientation: landscape) {
	.infoleft2{ max-height: 53% !important; margin-bottom: 3%; }
	.infoRight2{ max-height: 53% !important; margin-bottom: 3%; }
	h1{font-size: 30pt;}
	#pokemons p{font-size: 15pt; line-height: 100%}
	.infoRight { height: calc(100% - 74%);}

}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.col-left h5 { font-size: 7pt; }
	.estilo { font-size: 8pt; }
	h5{ font-size: 7pt; }
	.progress-bar { width: 90%; }
	#pokemons p{font-size: 10pt; line-height: 100%}
	h1{font-size: 20pt;}
}
/* Landscape */
@media screen and (device-width: 568px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.progress-bar { width: 95%; }
	.infoleft2{ max-height: 55%; margin-bottom: 3%; }
	.infoRight2{ max-height: 55%; margin-bottom: 3%; }
	h1{font-size: 36pt;}
	#pokemons p{font-size: 19pt; line-height: 100%}
}

/* ----------- nexus 7 ----------- */
/* Portrait */
@media screen and (device-width: 600px) and (device-height: 960px) and (orientation: portrait) {
	
	h1{font-size: 39pt;}
	.imagen_inic {margin-top: -25%;}
	#pokemons p{font-size: 19pt; line-height: 100%}
	.est-boton {padding-top: 46%;}

	#pokeDetails p { font-size: 16pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 90%; height: 20%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}
}
/* Landscape */
@media screen and (device-width: 960px) and (device-height: 600px) and (orientation: landscape) {
	h1{font-size: 52pt;}
	.imagen_inic {margin-top: -25%;}
	#pokemons p{font-size: 28pt; line-height: 100%}
	.est-boton {padding-top: 46%;}

	#pokeDetails p { font-size: 18pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}
	.infoleft2{ max-height: 55%; margin-bottom: 3%; }
	.infoRight2{ max-height: 55%; margin-bottom: 3%; }
}

/* ----------- nexus 6 ----------- */

/* Portrait */
@media screen and (device-width: 412px) and (device-height: 732px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.col-left h5 { font-size: 7pt; }
	.estilo { font-size: 8pt; }
	h5{ font-size: 7pt; }
	.progress-bar { width: 95%; }

}
/* Landscape */
@media screen and (device-width: 732px) and (device-height: 412px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.progress-bar { width: 95%; }
	.infoleft2{ max-height: 45%; margin-bottom: 3%; }
	.infoRight2{ max-height: 45%; margin-bottom: 3%; }
	h1{font-size: 40pt;}
	#pokemons p{font-size: 20pt; line-height: 100%}
	.imagen_inic {margin-top: -23%;}
	.est-boton {padding-top: 47%;}



}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
	#pokemons p{font-size: 12pt; line-height: 100%}

}
/* Landscape */
@media screen andscreen  and (device-width: 667px) and (device-height: 375px) and (orientation: landscape) { 
    .imagen_inic { margin-top: -23%; }
    .est-boton {padding-top: 47%;}
	.infoleft2{ max-height: 50%; }
	.infoRight2{ max-height: 50%; margin-bottom: 3%}
	.progress-bar { width: 95%; }
	#pokemons p{font-size: 18pt; line-height: 100%}
	h1{font-size: 35pt;}


}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
#pokemons p{font-size: 12pt; line-height: 100%}

}
/* Landscape */
@media screen and (device-width: 736px) and (device-height: 414px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
	.imagen_inic { margin-top: -23%; }
    .est-boton {padding-top: 47%;}	
    .infoleft2{ max-height: 50%; margin-bottom: 3%;}
	.infoRight2{ max-height: 50%; margin-bottom: 3%;}
	.progress-bar { width: 95%; }

	#pokemons p{font-size: 18pt; line-height: 100%}
	h1{font-size: 35pt;}
}


/* ----------- HTC One Nexus 5----------- */

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}
/* Landscape */
@media screen and (device-width: 640px) and (device-height: 360px) and (orientation: landscape) {
	.imagen_inic {margin-top: -27%;}
	h1{font-size: 37pt;}
	#pokemons p{font-size: 17pt; line-height: 100%;}
	.est-boton {padding-top: 42%;}

	.progress-bar { width: 95%; }
}

/*TABBLETS */



/* ----------- iPad mini ----------- */

/* Portrait */
@media screen and (device-width: 768px) and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}
/* Landscape */
@media screen and (device-width: 1024px) and (device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.infoleft2{ max-height: 50%; margin-bottom: 3%;}
	.infoRight2{ max-height: 50%; margin-bottom: 3%;}
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	#pokeDetails p { font-size: 18pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 90%; height: 20%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}
	
	.card-agreg {padding-bottom: 40%;}
	h1{font-size: 60pt; margin-bottom: 20px;}
	.imagen_inic {margin-top: -34%;}
	#pokemons p{font-size: 24pt; line-height: 100%;}
	.est-boton {padding-top: 36%;}

	.infoleft2{ max-height: 22%; margin-bottom: 3%;}
	.infoRight2{ max-height: 22%; margin-bottom: 3%;}

}

/* Landscape */
@media screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	#pokeDetails p { font-size: 18pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}

	.imagen_inic { margin-top: -15%; }
	.infoleft2{ max-height: 35%; margin-bottom: 3%; }
	.infoRight2{ max-height: 35%; margin-bottom: 3%}

	.card-agreg {padding-bottom: 40%;}
	h1{font-size: 60pt; margin-bottom: 30px;}
	.imagen_inic {margin-top: -32%;}
	#pokemons p{font-size: 30pt; line-height: 100%}
	.est-boton {padding-top: 38%;}

}

/* ----------- nexus 10 ----------- */
/* Portrait */
@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	#pokeDetails p { font-size: 18pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}
	
	.card-agreg {padding-bottom: 40%;}
	h1{font-size: 60pt;}
	.imagen_inic {margin-top: -30%;}
	#pokemons p{font-size: 26pt; line-height: 100%;}

	.infoleft2{ max-height: 22%; margin-bottom: 3%;}
	.infoRight2{ max-height: 22%; margin-bottom: 3%;}

}

/* Landscape */
@media screen and (device-width: 1280px) and (device-height: 800px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	#pokeDetails p { font-size: 18pt; line-height: 26px; }
	.titulo { font-size: 25pt; }
	.col-left h5 { font-size: 12pt; }
	h5 { font-size: 11pt; }
	.infoRight2 .col-right h5 { font-size: 12pt; }
	.estilo { font-size: 14pt; }
	.progress-bar { width: 95%; height: 40%; margin-bottom: 2%;}
	.progress-bar-bar {height: 15px;}

	.imagen_inic { margin-top: -15%; }
	.infoleft2{ max-height: 35%; margin-bottom: 3%; }
	.infoRight2{ max-height: 35%; margin-bottom: 3%}

	.card-agreg {padding-bottom: 40%;}
	h1{ font-size: 60pt; margin-bottom: 30px;}
	.imagen_inic {margin-top: -25%;}
	#pokemons p{font-size: 35pt; line-height: 100%}
	.est-boton {padding-top: 45%;}
}
